{% extends 'base.html' %}
{% block content %}


<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><a href="Group" class="first"><span>Groups</span></a><span>New Group</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="My tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="Group"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<hr>
<form action="https://www.classmarker.com/a/users/group/new/insertNewRegGroup.php" id="dosubmit_gn" method="post">
<div class="field-group">
<label class="form-field-title" for="group_name1">Group name:</label>
<input class="input showTooltip checkEmpty" id="group_name1" type="text" name="group_name" size="40" maxlength="100" title="The &#39;Group name&#39; is seen by Group Members.">
</div>
<div class="field-group">
<a href="https://www.classmarker.com/a/users/group/new/?ref=nav#" id="submit_gn" class="btn btn-create tab">Create Group</a>
</div>
</form>
<hr>
<div class="col-span-4 editor">
<h5>About Groups:</h5>
<p>Registered Group Users will log in via the ClassMarker.com homepage where they can easily take the Tests you have assigned to their Group/s.</p>
<p>If you prefer to give Tests without the need to pre-register users, try our Links option instead.</p>
<p>Learn more about the difference between: <a href="Quiz maker - Step by Step Instructions ClassMarker.html" class="popup">Groups &amp; Links</a>.</p>
</div>
<div class="clearheight60"></div>
<div class="clearheight60"></div>
</div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>

{% endblock %}