{% extends 'base.html' %}
{% block content %}

<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><span class="first">Select Test</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="My tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="Group"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<ul class="steps stepbars stepsbars2">
<li class="step-1  current"><a href="Assign test step 1b">Select Test</a></li><li class="step-2 ">Assign</li><li class="step-3 ">Settings</li>
<li class="step-4 last">Review</li>
</ul><div class="clearheight"></div><div class="alert-box editor "><p>You have not created any tests.</p><p><a href="Add new test">Add a new test</a></p></div></div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>



{% endblock %}