{% extends 'base.html' %}
{% block content %}


<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><a href="https://www.classmarker.com/a/tests/#tests" class="first"><span>Tests</span></a><span>Export Results</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="https://www.classmarker.com/a/tests/#tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="https://www.classmarker.com/a/tests/#groups"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="https://www.classmarker.com/a/tests/#links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<div class="page"><div class="alert-box editor ">No saved results currently exist to export.<p></p><p><strong>Note:</strong> Results from tests you preview yourself while logged in as an Administrator are not saved.</p></div></div><div class="aside editor">
<div class="aside-message">
<h5>More export options</h5>
<p>You can also export directly from your <a href="https://www.classmarker.com/a/tests/">Results</a> pages, with extra options to include selected answers in exports.</p>
<p>Look under the 'Actions' button for the Export options on your Results pages.</p>
</div>
<div class="aside-message">
<h5>Export format</h5>
<p>Export files are TAB separated .xls files. When opening files in Excel, select the separated by TAB option.</p>
</div>
</div></div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>




{% endblock %}