{% extends 'base.html' %}
{% block content %}


<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<h3 class="testname">abc</h3><div class="width-test-text editor classmarker_content" id="questions_container"><p class="titlename">Instructions:</p>
<ul class="titlename instructions-list"><li>Number of questions: <strong>3</strong></li><li>Has no time limit</li><li>Number of attempts allowed: <strong>Unlimited</strong></li><li>Must be finished in one sitting. You cannot save and finish later.</li><li>Questions displayed per page: <strong>1</strong> </li><li>Will allow you to go back and change your answers.</li><li>Will not let you finish with any questions unattempted.</li></ul><div class="clearheight"></div><div class="dotted"></div><div class="clearheight30"></div><div class="alert-box alert-confirmation editor  closeMeContainer"><a class="closeV3 closeMeLink right" href="https://www.classmarker.com/test/start/?test_id=743527#"><span>x</span></a><strong><em>You are in Preview Mode</em></strong><br>You are taking this test using ClassMarker default test settings.<p></p>
<p><em>When you assign tests to be taken by your users, you can select settings such as:</em>
<br></p><ul>
<li>Time Limits</li>
<li>Number of questions to display per page</li>
<li>Results view</li>
<li>And more settings available</li>
</ul><br><strong>Results will not be saved</strong> because you are currently <strong>previewing</strong> this test as an Instructor.
<br><br>Your users results will always be saved for you to review.</div><div class="f-left">&nbsp;</div>
<div class="f-right margright">
<a class="next2 fade_content_btn" href="https://www.classmarker.com/test/?test_id=743527#q">Start</a>
</div>
<div class="clearheight30"></div><noscript>&lt;div class="alert-box error editor "&gt;You must have JavaScript enabled in your browser to use this page.&lt;br/&gt;Please enable JavaScript in your web browser then refresh this page.&lt;br/&gt;&lt;br/&gt;
&lt;a href="https://support.google.com/bin/answer.py?hl=en&amp;amp;answer=23852" target="_blank"&gt;Learn how&lt;/a&gt;.&lt;br/&gt;This page will open in a new browser window.&lt;/div&gt;</noscript></div>
<script type="text/javascript">
asset_image_toggle_max_width = 600;
</script><div id="icon_loading_kit_div"><img id="icon_loading_kit" class="hide" src="./ClassMarker - Welcome_files/icon_loading_kit.gif" alt="Loading"></div></div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>


{% endblock %}