{% extends 'base.html' %}
{% block content %}


<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><span class="first">My Account</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="https://www.classmarker.com/a/tests/#tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="https://www.classmarker.com/a/tests/#groups"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="https://www.classmarker.com/a/tests/#links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<div class="page editor"><a id="usage"></a>
<div class="settings-box littledark">
<div class="accordion-toggle closed">
<h3 class="form-field-title">My Plans</h3>
<div class="settings-status">View plans and credits </div><div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold"><div class="field-group"><span class="tab bold">Education Free Plan</span></div><div class="field-group"><span class="form-field-title not-input bold">Description:</span> <div class="tab">Free credits are available to use when testing Via <strong>Groups</strong><br><a href="https://www.classmarker.com/a/myaccount/" class="upgradeRpc">Upgrade</a> to save results taken via <strong>Links</strong>.</div></div><div class="field-group"><span class="form-field-title not-input bold">Monthly credits left:</span> <div class="tab"><strong>100</strong></div></div><div class="field-group"><span class="form-field-title not-input bold">Next reset:</span> Wed 8th Feb 2017<div class="tab"><strong>100</strong> credits will be available to use.
<a href="https://www.classmarker.com/a/myaccount/#" id="tog_explain">More</a>
<div id="dotog_explain" class="hide"><br>Credits are reset early morning of:<br>Wed 8th Feb 2017 Eastern Time USA.<br><br>Current Eastern time USA:<br>Sun 8th Jan 2017 4:52am</div></div></div><hr>
<div class="field-group">
<span class="tab"><a href="https://www.classmarker.com/a/myaccount/#" class="showcont" id="tog_aboutcredits">How credits work?</a></span>
</div>
<div class="hide" id="dotog_aboutcredits">
<div class="field-group">
<span class="form-field-title not-input bold">About Credits:</span><div class="tab">Each time a test is taken by your logged in registered users one credit is used.</div>
</div>
<div class="field-group">
<div class="littledark tab"><strong>Note:</strong> Your 'Monthly credits left' will be next reset on the 'Next reset' date below.<p></p><a href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountpage_settingbox">Upgrade now</a> to increase your monthly credit
allowance and add new features such as Certificate downloading, file uploading and remove advertising fro your test pages.</div>
</div>
</div>
<div class="field-group">
<div class="tab"><a class="btn btn-create" href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountpage_settingbox">View Upgrade Options</a></div>
</div>
</div></div><a id="ved"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">My Details</h3>
<div class="settings-status">Edit account details and password <span class="red">(Required: Verify your email address)</span></div><div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<span class="form-field-title not-input bold">Name:</span>
<div class="tab">Muhammad Azeem Ullah</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Username:</span>
<div class="tab">azeemzafar527</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Password:</span>
<div class="tab">********</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Email:</span>
<div class="tab">azeemzafar67@gmail.com</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Email status:</span>
<div class="tab">Unverified<br><a href="https://www.classmarker.com/a/myaccount/sendEmailVerify.php?id=account">Send verification email</a></div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Country:</span>
<div class="tab">United States</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Time zone:</span>
<div class="tab">
(GMT+05:00) Islamabad, Karachi<br>
<span class="littledark">Your available test dates work to this time zone.</span>
</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Display Name:</span>
<div class="tab">Muhammad Azeem <span class="showTooltip tooltip" title="Your registered group members see this when logged in.">Tip</span>
</div>
</div>
<div class="field-group">
<span class="tab"><a class="btn btn-create" href="https://www.classmarker.com/a/myaccount/?edit=1">Edit Details</a></span> &nbsp; 
</div>
</div>
</div>
<a id="reg"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">My Users</h3>
<div class="settings-status">Number of users under your account</div>
<div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<div class="tab ">
<h4 class="name group-name">Groups (Registered Users)</h4>
<p>You currently have <strong>1000</strong> user places
available to use.</p>
<p>All accounts can have up to <strong>1000</strong> users registered
at any given time.</p>
<p><a href="https://www.classmarker.com/a/myaccount/#" class="showcont" id="tog_numusers">Need more user places?</a></p>
<div class="hide" id="dotog_numusers">
<p>You can delete inactive users at any time under the <strong>Groups</strong> section to free
up available user places.</p>
<p><strong>Note:</strong> You may also have unused user places (Member Registration Codes) under
your <a href="https://www.classmarker.com/a/tests/#groups">Groups</a> which can be
deleted
to make room for additional user places in your groups.</p>
</div>
<p>Export results from your Group results pages.</p>
<div class="clearheight5"></div>
<hr>
</div>
<div class="tab ">
<h4 class="name link-name">Links (Non-Registered Users)</h4>
<p>Direct link testing allows for testing an <strong>unlimited</strong> number of users based on
your available <strong>Credits</strong> (see above: My Plans).</p>
<p>Export results from your Link 'Results' pages.</p>
</div>
</div>
</div>
</div>
<a id="assistants"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">Assistants</h3>
<div class="settings-status">Email results and help manage your account</div>
<div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<div class="tab ">
<p>Create Assistants with specific Permissions to login and help manage your Account or just
have Test results sent to.</p>
<p>Go to the <a href="https://www.classmarker.com/a/myaccount/assistants/">Assistants section</a>.</p>
</div>
</div>
</div>
</div>
<a id="verify"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">Add Emails</h3>
<div class="settings-status">Have test results sent to alternate email addresses</div>
<div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<div class="tab ">
<p>You can have test results sent to alternate email addresses, other then your main account email address.
Choose which email to use when assigning Tests or editing assigned Test settings.</p>
<p>Use the <a href="https://www.classmarker.com/a/myaccount/assistants/">Assistants section</a> to add new Email addresses.</p>
</div>
</div>
</div>
</div>
<a id="invoices"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">Receipts</h3>
<div class="settings-status">Download payment receipts</div><div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark"><div class="field-group">
<span class="tab">You have no receipts to download at present.</span>
</div></div>
</div><a id="api"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">API</h3>
<div class="settings-status">View API Options</div><div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<div class="tab">
<p>API usage is optional and allows you to have ClassMarker integrated with your website in multiple ways.</p>
<p>You can integrate using Webhooks and/or API keys depending on your requirements.</p>
<p>Learn more: <a href="https://www.classmarker.com/online-testing/api/developers/">API &amp; Webhooks Documentation</a></p>
<hr>
</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">Webhooks:</span>
<div class="tab">
<p>Webhooks allow your Web developers to have Test results securely delivered to your systems/website in <strong>real time</strong>.</p>
<p><a href="https://www.classmarker.com/a/myaccount/webhooks/">View Webhooks</a></p>
</div>
</div>
<div class="field-group">
<span class="form-field-title not-input bold">API keys:</span>
<div class="tab">
<p>API keys allow your Web developers to have your systems/website securely request &amp; retrieve recent Test results from ClassMarker <strong>periodically</strong>.</p>
<p><a href="https://www.classmarker.com/a/myaccount/api/">View API Keys</a></p>
</div>
</div>
</div>
</div>
<a id="close"></a>
<div class="settings-box">
<div class="accordion-toggle closed">
<h3 class="form-field-title">Close Account</h3>
<div class="settings-status">&nbsp;</div>
<div class="caret">&nbsp;</div>
</div>
<div class="accordion-fold littledark">
<div class="field-group">
<div class="tab">
<h4 class="bold red">Delete My Account Permanently</h4>
<p>You can close your ClassMarker account at any time and all your data will be removed from our
database.
You must verify your login username and password to delete your account.</p>
<p class="red"><strong>Important:</strong> Deleting your account is permanent and cannot be
undone.</p>
</div>
</div>
<div class="field-group">
<div class="tab">
<form action="https://www.classmarker.com/a/myaccount/update/closeAccount.php" method="post">
<input type="hidden" name="token" value="BEE6JCQAMV">
<div class="dotted"></div>
<p><strong>Thank you for your feedback</strong><br>
We read and appreciate all feedback, this helps us make ClassMarker better for
everyone.</p>
<p class="bold">Reason for closing account?<br>
<textarea rows="2" cols="30" name="feedback" id="close_feedback"></textarea></p>
<p><a href="https://www.classmarker.com/a/myaccount/#" id="close_account" class="btn btn-analytics">Next</a></p>
<div class="hide" id="close_options">
<table>
<tbody><tr>
<td width="100">Username</td>
<td><label class="inplab" for="cln"><input type="text" id="cln" name="close_username" autocomplete="off"></label></td>
</tr>
<tr>
<td colspan="2">&nbsp;</td>
</tr>
<tr>
<td>Password</td>
<td class="inplab"><label class="inplab" for="cpw"><input type="password" id="cpw" name="close_password" autocomplete="off"></label></td>
</tr>
</tbody></table>
<div class="clearheight"></div>
<div class="dotted"></div>
<div class="clearheight"></div>
<h4 class="bold red">WARNING: Deleting Is Permanent!!!</h4>
<p><strong>Note:</strong> Deleting your account can take a few minutes if you have a
lot of data.</p>
<p><strong>Do not leave this page after clicking Delete below, this page will
refresh once your account is deleted.</strong></p>
<p><a href="https://www.classmarker.com/a/myaccount/#" class="genericSubmitLink btn btn-cancel">Permanently Delete My
Account</a></p>
</div>
</form>
<div class="clearheight30"></div>
<p>Have a question instead? <a href="https://www.classmarker.com/online-testing/contact-us/#email">Contact Us</a></p>
<script type="text/javascript">
								$('#close_account').click(function (e) {
									e.preventDefault();

									if ($('#close_feedback').val().replace(/\s/g, "").length == 0) {
										alert('Please provide some feedback for Deleting your account.');
									} else {
										$(this).hide();
										$('#cln, #cpw').val('');										$('#close_options').show();
									}
								});
							</script>
</div>
</div>
</div>
</div>
</div>
<div class="col200 nomarg aside editor"> <div class="aside-menu aside-message assign">
<h5>Need more credits?</h5>
<p>You can securely and instantly purchase more credits at any time.</p>
<p><a class="btn-create btn" href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountpage_rhs">View Upgrade Options</a></p>
</div>
<div class="aside-menu aside-message assign">
<h5>New feature announcements!</h5>
<p>Keep updated as we launch new features.</p>
<p>Follow ClassMarker:</p>
<div class="fb-like fb_iframe_widget" data-href="https://www.facebook.com/classmarker" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=&amp;container_width=273&amp;href=https%3A%2F%2Fwww.facebook.com%2Fclassmarker&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"><span style="vertical-align: bottom; width: 128px; height: 20px;"><iframe name="f2e29d4c8d6afa8" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="./ClassMarker - Welcome_files/like.html" style="border: none; visibility: visible; width: 128px; height: 20px;" class=""></iframe></span></div>
<div class="clearheight"></div>
<div class="cm-twitter"><iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="./ClassMarker - Welcome_files/follow_button.3748f7cda49448f6c6f7854238570ba0.en.html" style="position: static; visibility: visible; width: 62px; height: 20px;" data-screen-name="ClassMarker"></iframe></div>
<script type="text/javascript">
				/* Facebook */
				(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
				/* Twitter */
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
			</script>
</div>
</div></div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>




{% endblock %}