{% extends 'base.html' %}
{% block content %}



<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7">&nbsp;</div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="https://www.classmarker.com/a/tests/#tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="https://www.classmarker.com/a/tests/#groups"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="https://www.classmarker.com/a/tests/#links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<div class="main3 features-user-manual">
<div class="col-full">
<div class="scroll_top"></div>
<span class="wonderBtn"><a href="https://www.classmarker.com/a/help/">FAQ</a></span> <span class="wonderBtn selected bold">User Manual</span> <span class="wonderBtn"><a href="https://www.classmarker.com/a/help/video/">Video Help</a></span>
<div id="help-promo-1">
<h2>User Manual</h2>
</div>
</div>
</div>
<div class="main white-bg-content2">
<div class="col-full">
<div id="manualIndexContainer_ForJS">
<div class="manual-col">
<div class="manualIndex">
<h4 class="create">Create &amp; Edit</h4>
<a href="https://www.classmarker.com/a/help/manual/#abouttests" class="getManualContent" id="abouttests">About Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#createtests" class="getManualContent" id="createtests">Creating a Test</a>
<a href="https://www.classmarker.com/a/help/manual/#categories" class="getManualContent" id="categories">Categorize Tests &amp; Questions</a>
<a href="https://www.classmarker.com/a/help/manual/#duplicatetest" class="getManualContent" id="duplicatetest">Duplicate Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#papertesting" class="getManualContent" id="papertesting">Print Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#deletetest" class="getManualContent" id="deletetest">Delete Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#certificates" class="getManualContent" id="certificates">Certificates</a>
<a href="https://www.classmarker.com/a/help/manual/#charge-for-exams" class="getManualContent" id="charge-for-exams">Charge For Exams</a>
<p class="sub-header">Questions</p>
<a href="https://www.classmarker.com/a/help/manual/#addnewquestions" class="getManualContent" id="addnewquestions">Adding New Question to Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#addexistingquestions" class="getManualContent" id="addexistingquestions">Adding Existing Questions to Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#autoquestions" class="getManualContent" id="autoquestions">Randomly Selected Questions</a>
<a href="https://www.classmarker.com/a/help/manual/#importquestions" class="getManualContent" id="importquestions">Importing Questions</a><br>
<a href="https://www.classmarker.com/a/help/manual/#orderquestions" class="getManualContent" id="orderquestions">Set Question Ordering</a>
<a href="https://www.classmarker.com/a/help/manual/#settingsquestions" class="getManualContent" id="settingsquestions">Edit Question Settings</a>
<a href="https://www.classmarker.com/a/help/manual/#exportquestions" class="getManualContent" id="exportquestions">Export Questions</a>
</div>
</div>
<div class="manual-col">
<div class="manualIndex">
<h4 class="assign">Assign Tests</h4>
<a href="https://www.classmarker.com/a/help/manual/#assign" class="getManualContent" id="assign">How to give tests (Groups vs Links)</a>
<a href="https://www.classmarker.com/a/help/manual/#testsettings" class="getManualContent" id="testsettings">Test Settings</a>
<a href="https://www.classmarker.com/a/help/manual/#testrestrictions" class="getManualContent" id="testrestrictions">Test Restrictions</a>
<p class="sub-header">Using Groups</p>
<a href="https://www.classmarker.com/a/help/manual/#creatinggroups" class="getManualContent" id="creatinggroups">Creating Groups</a>
<a href="https://www.classmarker.com/a/help/manual/#addmembersintro" class="getManualContent" id="addmembersintro">Register, Edit &amp; Delete Group Members</a>
<a href="https://www.classmarker.com/a/help/manual/#assigngroups" class="getManualContent" id="assigngroups">Assigning Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#transfermembers" class="getManualContent" id="transfermembers">Transfer Members between Groups</a>
<p class="sub-header">Using Links</p>
<a href="https://www.classmarker.com/a/help/manual/#assignlinks" class="getManualContent" id="assignlinks">Assigning Tests</a>
<a href="https://www.classmarker.com/a/help/manual/#themes" class="getManualContent" id="themes">Branding &amp; Themes</a>
<a href="https://www.classmarker.com/a/help/manual/#accesslists" class="getManualContent" id="accesslists">Access Lists</a>
<a href="https://www.classmarker.com/a/help/manual/#reopenlinkattempt" class="getManualContent" id="reopenlinkattempt">Reopen/Resume Test options</a>
</div>
</div>
<div class="manual-col last">
<div class="manualIndex">
<h4 class="results">Test Results</h4>
<a href="https://www.classmarker.com/a/help/manual/#results" class="getManualContent" id="results">Viewing results</a>
<a href="https://www.classmarker.com/a/help/manual/#exportresults" class="getManualContent" id="exportresults">Exporting results</a>
<a href="https://www.classmarker.com/a/help/manual/#categoryresults" class="getManualContent" id="categoryresults">Results by category</a>
<a href="https://www.classmarker.com/a/help/manual/#stats" class="getManualContent" id="stats">Analyze Statistics</a>
<a href="https://www.classmarker.com/a/help/manual/#grading" class="getManualContent" id="grading">Edit Grades Manually</a>
<a href="https://www.classmarker.com/a/help/manual/#deleteresults" class="getManualContent" id="deleteresults">Deleting Results</a>
</div>
<div class="manualIndex">
<h4 class="account">My Account</h4>
<a href="https://www.classmarker.com/a/help/manual/#myaccount" class="getManualContent" id="myaccount">View / edit your account details</a>
<a href="https://www.classmarker.com/a/help/manual/#upgrade" class="getManualContent" id="upgrade">Upgrade account / Edit payment options</a>
<a href="https://www.classmarker.com/a/help/manual/#downloadreceipts" class="getManualContent" id="downloadreceipts">Download Receipts</a>
<a href="https://www.classmarker.com/a/help/manual/#assistants" class="getManualContent" id="assistants">Manage Assistants</a>
<a href="https://www.classmarker.com/a/help/manual/#api_webhooks" class="getManualContent" id="api_webhooks">API &amp; Webhooks</a>
</div>
</div>
</div>
<div class="clearheight"></div>
<div class="page-loading-div"><img src="./ClassMarker - Welcome_files/icon_loading_circle_results.gif" class="loadingGif hide" alt="Page loading"></div>
<div class="manualContent editor scroll_manual_content" id="manual_content"></div>
</div>
</div>
<script type="text/javascript">

	$(document).ready(function(){

		/* If clicking link on 'user manual' page */
		$(document).on('click','.getManualContent', function(e){

			content_section = this.id;

			getManualContent(content_section);


		});

		/* If anchor tag on http link
		 check if we want to display content by default #id must be valid for content we actually have
		 * 	EG: "#abouttests" is valid content */
		if(window.location.hash ) {
			//&& $('#manualIndexContainer_ForJS #' + window.location.hash.substring(1)).length
			getManualContent(window.location.hash.substring(1));

		}

		function getManualContent(content_section){

			/* Highlight link we are on */
			$('.manualIndex a').removeClass('selectManualLink');
			$('a#'+content_section).addClass('selectManualLink');

			$('#manual_content').hide();
			$('.loadingGif').show();


			$.ajax({
				url: "/misc/manual.rpc.php?get_content=" +content_section,
				cache: true,
				dataType: "html"
			}).done(function( html ) {

				$('.loadingGif').hide();
				$('#manual_content').html(html).show();
				$('html,body').animate({scrollTop: $('#manual_content').offset().top},'normal');

			});

		}


	});
</script>
</div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>




{% endblock %}