{% extends 'base.html' %}
{% block content %}

<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col640"><div id="ajax-container"><div class="classmarker_content"><a id="q"></a>
<h3 class="testname">abc</h3><div class="v3QuizHolder"><form method="post" action="https://www.classmarker.com/test/accept/" id="questionform" autocomplete="off">
<input type="hidden" name="test_id" value="743527">
<input type="hidden" id="timeoutinput" name="na1" value="na">
<input type="hidden" id="finishnowinput" name="na2" value="na">
<input type="hidden" id="control" name="next" value="1">
<input type="hidden" name="rtla" value="1481732660">
<input type="hidden" name="autosavequestion_token" value="2396f08a8a6a1b30830d7ac3b699bec1"><div id="questions_container"><a id="q11442716"></a><div class="qbox takingtest"><div class="qboxleft"><h2>Question 1 of 3</h2></div>
<div class="clear"></div>
</div><div class="col600 qsholder editor"><p class="">a</p></div>
<div class="dotted"></div>
<div class="mcanswersDiv"><fieldset class="qfieldset"><legend><span class="hide">Answer options for question 1</span></legend><div class="clear"></div>
<div class="ans_select">
<input type="radio" id="rmc_11442716_0" name="mcsa_11442716_1481732660" value="511a427961de271853717b55c6bf585d">
</div>
<div class="ans_content_letter"><strong>A)&nbsp;</strong></div>
<div class="ans_content_prefixed editor">
<label for="rmc_11442716_0" class="">k</label>
</div><div class="clear"></div>
<div class="ans_select">
<input type="radio" id="rmc_11442716_1" name="mcsa_11442716_1481732660" value="a20ac6f919172b0500d209f902cd7292">
</div>
<div class="ans_content_letter"><strong>B)&nbsp;</strong></div>
<div class="ans_content_prefixed editor">
<label for="rmc_11442716_1" class="">k</label>
</div><div class="clear"></div>
<div class="ans_select">
<input type="radio" id="rmc_11442716_2" name="mcsa_11442716_1481732660" value="0f663259b5edbdd8e118ecfba2846bd8">
</div>
<div class="ans_content_letter"><strong>C)&nbsp;</strong></div>
<div class="ans_content_prefixed editor">
<label for="rmc_11442716_2" class="">k</label>
</div><div class="clear"></div>
<div class="ans_select">
<input type="radio" id="rmc_11442716_3" name="mcsa_11442716_1481732660" value="c1b20f1d8443529fc1b51560cc5c394a">
</div>
<div class="ans_content_letter"><strong>D)&nbsp;</strong></div>
<div class="ans_content_prefixed editor">
<label for="rmc_11442716_3" class="">k</label>
</div></fieldset></div></div><div class="hide" id="showRefreshInstructions"><div class="alert-box error editor ">Please wait another 30 seconds and if nothing happens, please <a class="removeOnBeforeUnload" href="https://www.classmarker.com/test/?refreshtest">click here</a> to reload this page.<br><br><strong>Important Note:</strong> Reloading this page will clear your answers on this page. To ensure you do not lose the answers on this page, make sure you copy any written answers into a text document so you can copy and paste them into the answer boxes again after your refresh your browser.</div></div><div class="nextprev mainnextprevbox"><div class="prevbox">&nbsp;</div><div class="nextbox"><a class="next2" href="https://www.classmarker.com/test/?test_id=743527#" id="qnext">Next</a></div></div><div class="clearheight"></div><script type="text/javascript">
		asset_image_toggle_max_width = 550;
	</script>
</form></div></div><div id="icon_loading_kit_div"><img id="icon_loading_kit" class="hide" src="./ClassMarker - Welcome_files/icon_loading_kit.gif" alt="Loading"></div><div class="clearheight30"></div><div class="v3QuizHolder preview-mode"><div class="alert-box editor "><strong>Done with preview?</strong><br><br>
<a href="https://www.classmarker.com/a/tests/">Tests</a> | <a href="https://www.classmarker.com/a/tests/test/?test_id=743527">Edit Test</a></div></div></div>
<script type="text/javascript">
	window.onbeforeunload= function(){
		return 'You must use the Next, Previous or Finish buttons to move away from this page.\n\nYou will lose these answers unless you Cancel this operation and use the Next, Previous or Finish buttons on this page.\n\nNote: If you are only allowed 1 Attempt at this Test and leave it now, you may not be able to restart it.';
	};
</script>
</div></div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>



{% endblock %}