{% extends 'base.html' %}
{% block content %}

<div id="content" class="clearfix">
<div class="innerWrapper">
<!--[if IE 6]>
<div class="alert-box error editor">
	<p class="bold">You are using Internet Explorer Version 6 which will not work with ClassMarker administration pages.</p>
	<p>Please upgrade to a modern web browser to use ClassMarker.</p>
	<p>Your Test takers can still use Internet explorer 6 however.</p>
	<p>Modern browsers include: <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a> | <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> | <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Microsoft Internet Explorer</a></p>
</div>
<![endif]-->
<div class="col-span-7"><p class="breadcrumb3"><a href="https://www.classmarker.com/a/myaccount" class="first"><span>My Account</span></a><span>Plans</span></p></div><div class="col-span-3"><ul class="menu-sections">
<li class="test"><a href="https://www.classmarker.com/a/tests/#tests"><span>Tests</span></a></li>
<li class="group"><a class="sect" href="https://www.classmarker.com/a/tests/#groups"><span>Groups</span></a></li>
<li class="link"><a class="sect" href="https://www.classmarker.com/a/tests/#links"><span>Links</span></a></li></ul>
</div><div class="clearheight20"></div><div class="clearheight20"></div>
<div class="editor upgrade-main-width">
<hr><p><span class="check-account-type">Your account type is: <span class="check-account-type-edu">Education</span></span>
<span class="little">(<a href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountmenu#" id="tog_checktype">Check this is right?</a>)</span></p><div id="dotog_checktype" class="hide"><div class="alert-box editor "><p>If you are using ClassMarker in a Business <i>or</i> any type of for-profit environment,
you are <i><strong>required</strong></i> to change your account to Business usage.</p>
<a href="https://www.classmarker.com/a/myaccount/upgrade/?changeaccount=bus" onclick="return confirm(&#39;Change my account to allow Business usage&#39;)">Change to allow Business usage now</a>.</div></div><hr> <div class="plans-heading">
<h3>Professional Plans</h3>
<p>Perfect for regular online testing</p>
<p class="view-plans"><a href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountmenu#" class="anchor_scroll_pp">View Professional Plans</a></p>
</div>
<div class="plans-heading">
<h3>Credit packs</h3>
<p>For bulk or occasional online testing</p>
<p class="view-plans"><a href="https://www.classmarker.com/a/myaccount/upgrade/?trk=myaccountmenu#" class="anchor_scroll_cp">View Credit Packs</a></p>
</div>
<div class="clear"></div>
<div class="alert-box alert-default littledark">
<h4>Need more credits?</h4>
<p>Your free plan gives you 100 credits per month.</p>
<p>You can select a higher Professional plan below and gain access to all our upgraded features.</p>
</div> <div class="col-span-7 margin">
<div class="alert-box alert-default littledark">
<h4>Will my data remain the same after upgrading?</h4>
<p>Yes. Your data will always remain in your account and ready to use after you upgrade.</p>
</div>
</div>
<div class="col-span-3">
<div class="alert-box alert-default littledark">
<h4>Check Account Status</h4>
<p>View your account status: <a href="https://www.classmarker.com/a/myaccount/">My Account</a></p>
</div>
</div>
</div>
<a class="scroll_pp"></a><div class="upgrade-main-width"><div class="alert-box alert-confirmation editor littledark"><h4>50% Discount on our Professional plans</h4>
<p>ClassMarker understands our non-profit customers deserve a helping hand.</p>
<p>That's why the below Professional plans are 50% off our standard pricing.</p></div></div> <h2 class="pricing-section-heading-horizontal">Professional Plans</h2>
<span class="pricing-section-sub-heading-horizontal">Perfect for regular online testing!</span>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<h3 class="pricing-plan-title">Plan</h3>
<div class="pricing-plan-content-horizontal">
<h4 class="pricing-plan-price horizontal">Free</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<h3 class="pricing-plan-title">Features</h3>
<div class="pricing-plan-content-horizontal">
<div class="pricing-plan-feature-list horizontal">
Up to <strong>100</strong> tests taken per month<br>
That's <strong>1,200</strong> tests graded per year
<div class="clearheight5"></div>
<a href="https://www.classmarker.com/online-testing/price/education/#freelimits">Limited features</a>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<h3 class="pricing-plan-title">Price</h3>
<div class="pricing-plan-content-horizontal">
<h4 class="pricing-plan-price horizontal">Free</h4>
<div class="btn-height-match"></div> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin">
<h4 class="pricing-plan-price horizontal">Professional 1</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin">
<div class="pricing-plan-feature-list horizontal">
Up to <strong>400</strong> tests taken per month<br>
That's <strong>4,800</strong> tests graded per year
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin">
<h4 class="pricing-plan-price horizontal">$19.95</h4>
<span class="inc-gst-horizontal">USD per month</span>
<div class="clearheight10"></div> <a class="btn btn-create btn-plan" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=m1">Buy Monthly</a><span class="littledark">2 Months Free: </span><a href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=y1">Buy Yearly</a> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin">
<h4 class="pricing-plan-price horizontal">Professional 2</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin">
<div class="pricing-plan-feature-list horizontal">
Up to <strong>1,000</strong> tests taken per month<br>
That's <strong>12,000</strong> tests graded per year
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin">
<h4 class="pricing-plan-price horizontal">$39.95</h4>
<span class="inc-gst-horizontal">USD per month</span>
<div class="clearheight10"></div> <a class="btn btn-create btn-plan" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=m2">Buy Monthly</a><span class="littledark">2 Months Free: </span><a href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=y2">Buy Yearly</a> </div>
</div>
</li>
</ul>
<a class="scroll_cp"></a><div class="clearheight"> </div>
<div class="col-full">
<h2 class="pricing-section-heading-horizontal">Credit Packs</h2>
<span class="pricing-section-sub-heading-horizontal">For bulk or occasional online testing!</span>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<h3 class="pricing-plan-title">Plan</h3>
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">Credit Pack 50</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<h3 class="pricing-plan-title">Features</h3>
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<div class="pricing-plan-feature-list horizontal">
Use <strong>50</strong> credits<br>anytime over 12 months
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<h3 class="pricing-plan-title">Price</h3>
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">$25.00</h4>
<span class="inc-gst">USD
</span>
<a class="blocklink btn btn-create btn-pack" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=p1">Buy Now</a> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">Credit pack 250</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<div class="pricing-plan-feature-list horizontal">
Use <strong>250</strong> credits<br>anytime over 12 months
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">$100.00</h4>
<span class="inc-gst">USD
</span>
<a class="blocklink btn btn-create btn-pack" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=p2">Buy Now</a> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">Credit pack 1,000</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<div class="pricing-plan-feature-list horizontal">
Use <strong>1,000</strong> credits<br>anytime over 12 months
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">$300.00</h4>
<span class="inc-gst">USD
</span>
<a class="blocklink btn btn-create btn-pack" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=p3">Buy Now</a> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">Credit pack 2,500</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<div class="pricing-plan-feature-list horizontal">
Use <strong>2,500</strong> credits<br>anytime over 12 months
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">$625.00</h4>
<span class="inc-gst">USD
</span>
<a class="blocklink btn btn-create btn-pack" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=p4">Buy Now</a> </div>
</div>
</li>
</ul>
<ul class="pricing-list horizontal">
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal pricing-plan-title-container">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">Credit pack 5,000</h4>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<div class="pricing-plan-feature-list horizontal">
Use <strong>5,000</strong> credits<br>anytime over 12 months
<div class="clearheight5"></div>
<strong>All features included</strong>
</div>
</div>
</div>
</li>
<li class="pricing-item horizontal">
<div class="pricing-plan-horizontal">
<div class="pricing-plan-content-horizontal-loggedin price-payg">
<h4 class="pricing-plan-price horizontal">$1,000.00</h4>
<span class="inc-gst">USD
</span>
<a class="blocklink btn btn-create btn-pack" href="https://www.classmarker.com/a/myaccount/upgrade/1/?plan=p5">Buy Now</a> </div>
</div>
</li>
</ul>
<div class="clearheight30"></div>
</div>
<div class="editor upgrade-main-width">
<div class="clearheight"> </div>
<div class="alert-box alert-default editor "><h4>Which option is right for me?</h4>
<h5>Professional Plans</h5>
<p>Professional plans provide 400 or 1,000 credits per month - great for regular testing.</p>
<p>Professional monthly plans have no contract period so you can cancel anytime with no further charges.</p>
 
<br>
<h5>Credit Packs</h5>
<p>Credit packs fully upgrade your account just like Professional plans and your credits can be used anytime over the year.</p>
<br>
<h5>Combine plans</h5>
<p>You can purchase a Professional plan and later a Credit pack if you need extra Credits for a busy month. Any unused Credit pack credits will then remain on your account separately until you need them again.</p>
<br>
<h5>How Credits work</h5>
<p>Each time one of your tests is taken, only 1 credit is used (Certificate Downloading and Emailing Results included).</p></div>
<h3>Upgrade instantly with:</h3>
<table>
<tbody><tr>
<td class="padleft"><img alt="Visa Credit Cards Accepted" src="./ClassMarker - Welcome_files/card_visa.gif"><br>Visa Credit</td>
<td class="padleft"><img alt="Mastercard Credit Cards Accepted" src="./ClassMarker - Welcome_files/card_mastercard.gif"><br>Mastercard</td>
<td class="padleft"><img alt="Amex  Credit Cards Accepted" src="./ClassMarker - Welcome_files/card_amex.gif"><br>Amex</td>
</tr>
</tbody></table>
<div class="clearheight30"> </div>
<div class="littledark">
<h4>Secure payment gateways available:</h4>
<p class="gray margleft"><img class="margright" src="./ClassMarker - Welcome_files/stripe.png" alt="Stripe Logo"> <img src="./ClassMarker - Welcome_files/paypal.gif" alt="PayPal logo"></p>
<div class="clearheight30"> </div>
<div class="iconleft"><img src="./ClassMarker - Welcome_files/icon_email_shade.gif" alt="Email"></div>
<div class="iconright"><span class="upgradeheader"><strong>Contact Us By Email</strong></span>
<br>If you have any questions regarding ClassMarker, <br>please <a href="https://www.classmarker.com/online-testing/contact-us/#email" title="Contact us">Contact us</a>.<br><br>We will get straight back to you 7 days a week.</div>
<div class="clearheight"> </div>
<div class="iconleft"><img src="./ClassMarker - Welcome_files/icon_letter_shade.gif" alt="Post"></div>
<div class="iconright"><span class="upgradeheader"><strong>Contact Us By Post</strong></span>
<br>ClassMarker Pty Ltd
<br>Level 14, 5 Martin Place
<br>Sydney, NSW
<br>2000, Australia</div>
<div class="clearheight"> </div>
<div class="iconleft">&nbsp;</div>
<div class="iconright"><span class="upgradeheader">
<strong>Refund policy</strong></span><br>
Professional upgrades: ClassMarker will refund your purchase of a ClassMarker Professional account providing you contact us for a refund within 30 days of your purchase.
<br><br>Credit packs: If you contact ClassMarker for a refund within 30 days of your purchase and less than 20 credits have been used, the full purchase amount of the Credit pack will be refunded. If more than 20 credits have been used ClassMarker will refund the value of the remaining testing credits you have left in your account.
</div>
<div class="clearheight"> </div>
<div class="iconleft">&nbsp;</div>
<div class="iconright"><p><span class="upgradeheader"><strong>ClassMarker Pty Ltd</strong></span>
<br>Level 14, 5 Martin Place
<br>Sydney, NSW
<br>2000, Australia
<br>ABN 140 552 389
<br><br>When contacting ClassMarker be sure to send us your account username to help us more efficiently answer your questions.</p>
<p>For all <strong>Sales</strong> and <strong>Support</strong> queries, use the <a href="https://www.classmarker.com/online-testing/contact-us/#email" title="Contact us">Contact us</a> form and we'll get straight back to you 7 days a week.</p>
<p>For any other enquiries, leave your Name, Username, Email, Contact number and Message on Ph: +1 (855) 247-3455.</p>
</div>
</div>
</div>
</div> 
<img src="./ClassMarker - Welcome_files/icon_loading_circleV3.gif" alt="Hidden Loading Image" class="hide" width="20" height="20">
</div>




{% endblock %}